<div class="contents row">
  <% @screenshots.each do |screenshot| %>
    <div class="content_post" style="background-image: url(<%= screenshot.image %>);">
      <p><%= screenshot.text %></p>
      <span class="name">
        <%= screenshot.name %>
      </span>
    </div>
  <% end %>
</div>